<mat-toolbar class="main-toolbar">
  <h5 class="main-title">
    <a
      class="main-title-link"
      routerLink="/wall"
    >
      Kunstkamera
    </a>
  </h5>
  <nav class="main-nav">
    <!-- TODO: Add wall page. -->
    <!-- <a mat-button
      routerLink="/wall"
      routerLinkActive="active">
      Wall
    </a> -->
    <a
      mat-button
      routerLink="/minerals"
      routerLinkActive="active"
    >
      Minerals
    </a>
    <!-- TODO: Add meteorites page. -->
    <!-- <a
      mat-button
      routerLink="/meteorites"
      routerLinkActive="active"
    >
      Meteorites
    </a> -->
    <a
      mat-button
      routerLink="/about"
      routerLinkActive="active"
    >
      About
    </a>
  </nav>
  <button
    mat-icon-button
    class="main-menu-button"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      routerLink="/minerals"
      routerLinkActive="active"
    >
      Minerals
    </button>
    <button
      mat-menu-item
      routerLink="/about"
      routerLinkActive="active"
    >
      About
    </button>
  </mat-menu>
</mat-toolbar>
<div class="main-outlet">
  <router-outlet></router-outlet>
</div>
