@use 'constants/constants.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-toolbar {
  height: 52px;
  justify-content: space-between;
  position: sticky;
  top: 0;

  .main-title {
    .main-title-link {
      color: $color-font-white;
      text-decoration: none;
    }
  }

  .main-menu-button {
    display: none;
  }

  @media (max-width: 600px) {
    .main-nav {
      display: none;
    }
    .main-menu-button {
      display: inline-flex;
    }
  }
}

.main-outlet {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}
