<mat-toolbar class="main-toolbar">
  <span>Mineral collection</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item
          [routerLink]="['/minerals']">
    <span>Minerals</span>
  </button>
  <button mat-menu-item
          [routerLink]="['/meteorites']">
    <span>Meteorites</span>
  </button>
</mat-menu>
</mat-toolbar>
<!-- Main router -->
<router-outlet class="main-router"></router-outlet>
