@use '../constants/constants' as *;

:host {
	height: 100%;
}

.wall-page {
	height: 100%;
	overflow: auto;

  .wall-sidenav-container {
		background: none;
		height: 100%;
		overflow: hidden;
		
		.wall-sidenav {
			background: none;
			border-left: 2px solid $color-border;
			border-radius: 0;
			margin: $space-6 0;
		}

		.wall-sidenav-content {
			overflow-y: auto;
			padding: 0 $space-6;
		}
	}
}
