@use 'theme-styles' as *;
@use '@angular/material' as mat;
@use 'app/constants/constants' as *;

/* Angular Material Theme */
@include mat.core();

html {
	/* Apply the theme to all components */
	@include mat.all-component-themes($theme);
	/* Apply the custom Material theme */
	@include mat.core-theme($theme);
}

html, body {
	font-family: 'EB Garamond', serif;
	height: 100vh;
	overflow-y: hidden;
}

body { 
	margin: 0;

	&.mat-app-background {
		background-color: $color-app-background;
		background-image: url('./assets/textures/fabric.png');
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display", serif;
}
