@use 'theme-styles' as *;
@use 'app/constants/constants' as *;
@use '@angular/material' as mat;

html {
	// Custom Theming for Angular Material
  @include mat.theme($theme);
	@include mat.all-component-themes($theme);
}
html, body { 
	height: 100%;
	overflow-y: hidden;
}

body { 
	margin: 0;
	background-color: $color-app-background;
	background-image: url('./assets/textures/fabric.png');
}
