@use '@angular/material' as mat;
@use 'app/constants/constants' as *;

/* App main theme (Dark mode). */
$theme: mat.define-theme((
  color: (
    theme-type: dark,
  ),
  typography: (
    brand-family: $font-brand-family,
    plain-family: $font-plain-family,
    bold-weight: 900,
    medium-weight: 600,
    regular-weight: 300,
  ),
  density: (
    scale: -4,
  )
));

:root {
  /* MatButton override */
  @include mat.button-overrides((
    text-label-text-size: $font-5,
  ));
  /* MatCard override */
  @include mat.toolbar-overrides((
    title-text-size: $font-10,
  ));
}
