@use '@angular/material' as mat;
@use 'app/constants/constants' as *;

// Define a custom theme
$theme: mat.define-theme((
  color: (
    theme-type: dark,
  ),
  typography: (
    brand-family: 'Playfair Display, serif',
    plain-family: 'EB Garamond, serif',
    bold-weight: 900,
    medium-weight: 600,
    regular-weight: 300,
  ),
  density: (
    scale: 0,
  )
));

:root {
  /* MatButton override */
  @include mat.button-overrides((
    text-label-text-size: $font-5,
  ));
  /* MatCard override */
  @include mat.toolbar-overrides((
    title-text-size: $font-10,
  ));
}
