@use '../constants/constants.scss' as *;
@use '@angular/material' as mat;

.page-footer {
  align-items: center;
  background-color: $color-app-background;
  border-top: 2px solid $color-border;
  color: $color-font-white;
  display: flex;
  font-size: $font-4;
  justify-content: space-between;
	padding: $space-3;
  text-align: center;

  .footer-decoration {
   .decoration {
    color: $color-border;
    width: 100%;
   }
  }
	
	.footer-nav {
	  .link {
      color: $color-font-white;
      font-weight: 900;
      margin: 0 $space-2;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
	  }
	}
  
	.socials {
    align-items: center;
    display: flex;
    justify-content: center;

    .copyright {
      font-weight: 900;
    }

    .social-link {
      color: $color-font-white;
      font-weight: 900;
      margin: $space-4;
      text-decoration: none;
	  }
	}
}
  