<footer class="page-footer">
  @if (!hideFooter()) {
    <!-- <div class="footer-decoration">
      <img alt="Decoration" 
           class="decoration" 
           src="assets/images/footer-decoration.svg">
    </div> -->
    
    <p>A collection of minerals and the sky. Notes on science and the beauty of the world.</p>
    
    <nav class="footer-nav">
      <a class="link"
         routerLink="/wall" 
         routerLinkActive="active">
				Wall
			</a>
      <a class="link"
        routerLink="/minerals"
         routerLinkActive="active">
			  Minerals
			</a>
      <a class="link" 
         routerLink="/meteorites" 
         routerLinkActive="active">
        Meteorites
      </a>
      <a class="link" 
         routerLink="/about"
         routerLinkActive="active">
        About
      </a>
    </nav>
    
    <div class="socials">
      <a class="social-link"
         href="https://github.com/mw097">💻 GitHub
      </a>
      <p class="copyright">© 2025 Kunstkamera</p>
    </div>
    
  }
</footer>
  
