@use '../../constants/constants.scss' as *;

.mineral-label {
	display: flex;
	flex-direction: column;
	width: 100%;
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}
	.decoration {
		height: 62px;
	}

	.decoration-bottom {
		height: 62px;
		transform: rotate(180deg);
	}

  .label-outer-border {
		@include border-outer;

		.label-inner-border {
			@include border-inner;
			
			.photo-wrapper {
				margin: 0 auto $space-6;
				width: 250px;
				height: 250px;
				border: 2px solid $color-border;

				.photo {
					width: 100%
					;
				}
			}
			
			.label-content {
				.label-id {
					color: $color-font-white;
					padding-left: $space-3;

					p {
						font-size: 12px;
						margin: $space-1;
					}
				}

				.label-name {
					color: $color-font-white;
					padding-left: $space-3;
					text-align: center;
				}

				.label-locality {
					color: $color-font-white;
					padding-left: $space-3;
					text-align: center;

					.country {
						font-weight: 700;
					}
				}
			}

			.divider {
				border: 1px solid $color-border;
			}
		}
	}
}
