@use '../constants/constants.scss' as *;

:host {
	height: 100%;
}

.mineral-list {
	height: 100%;
	overflow: auto;
	scroll-snap-type: y mandatory;

	.mineral-content {
		color: $color-font-white;
		scroll-snap-align: end;

		.title {
			font-family: $font-brand-family;
			font-size: $font-10;
			font-weight: 700;
			margin: $space-9;
			text-align: center;
		}

		.description {
			font-family: $font-plain-family;
			font-size: $font-5;
			font-weight: 300;
			text-align: center;
			padding: 0 $space-6 $space-6;
		}

		.spacer-wrapper {
			.spacer {
				border-bottom: 2px solid $color-border;
				border-top: 2px solid $color-border;
				height: $space-2;
				margin: 0 $space-6 $space-5;
			}
		}
	}

	.minerals {
		display: grid;
		gap: $space-4;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		overflow: hidden;
		padding: $space-5;
		scroll-snap-align: start;
	}
}
