@use '../constants/constants.scss' as *;

:host {
	height: 100%;
}

.mineral-list {
	height: 100%;
	overflow: auto;

	.mineral-scroll {
		display: grid;
		gap: $space-4;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		overflow: hidden;
		padding: $space-5;

		.mineral-card {
			border: 2px solid $color-border;
			background-color: $color-app-background;
		}
	}
}
