/* Spaces */
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;

/* Font Sizes */
$font-1: 4px;
$font-2: 8px;
$font-3: 12px;
$font-4: 16px;
$font-5: 20px;
$font-6: 24px;
$font-7: 28px;
$font-8: 32px;
$font-9: 36px;
$font-10: 40px;

/* Colors */
$color-app-background: #303030;
$color-background: #3b3b3b;
$color-border: #555;

/* Mixin */
