/* Spaces */
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;

/* Font Sizes */
$font-1: 4px;
$font-2: 8px;
$font-3: 12px;
$font-4: 16px;
$font-5: 20px;
$font-6: 24px;
$font-7: 28px;
$font-8: 32px;
$font-9: 36px;
$font-10: 40px;

/* Border radius */
$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 12px;
$border-radius-4: 16px;
$border-radius-5: 20px;
$border-radius-6: 24px;

/* Font families */
$font-brand-family: 'Playfair Display', serif;
$font-plain-family: 'EB Garamond', serif;

/* Colors */
$color-app-background: #303030;
$color-card-background: #3030307b;
$color-background: #3b3b3b;
$color-border: #aaaaaa;
$color-font-white: #e6e1e6;

/* Mixins */
@mixin border-inner {
	border: 2px solid $color-border;
	border-radius: $border-radius-6;
	padding: $space-6;
}

@mixin border-outer {
	background-color: $color-card-background;
	border: 2px solid $color-border;
	border-radius: calc($border-radius-6 + 3px);
	padding: 3px;
}

@mixin link-with-transition {
	color: $color-font-white;
	text-decoration: none;
	transition: all 0.2s ease-in-out;

	&:hover {
		color: $color-border;
		text-decoration: underline;
	}
}
